.contact-text-header {
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 47px;

  color: #1f1f1f;
}
.contact-text-content-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;

  color: #b1b1b1;
}

.contact-text-content-text {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}
