
.contact-text-content-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;

  color: #b1b1b1;
}

.contact-text-content-text {
  font-family: Raleway;
  font-style: normal;
  font-weight:600;
  font-size: 16px;
  line-height: 19px;
  margin-top: 10px;

  color: #000000;
}
