.nav {
  .menu-container {
    transition: all 0.5s linear 0s;
    overflow: hidden;
    .text-container {
      font-family: Raleway;
      font-style: normal;
      font-weight: 300;
      line-height: 50px;
      padding: 10px 0;
    }
  }
  .nav-icon {
    width: 30px;
    .upIcon {
      transition: all 0.5s linear 0s;
    }
  }
}
.fold {
  height: 0;
}
.unfold{
  height: 350px;
}
.down {
  transform: rotate(180deg);
}
