.nav {
  .menu-container {
    div {
      font-family: Raleway;
      font-style: normal;
      font-weight: 300;
      font-size: 36px;
      line-height: 50px;
      padding: 10px 0;
    }
  }
  .nav-icon {
    width: 30px;
  }
}
