.header-container {
  height: 150px;

  .logo-container {
    height: 120px;

    .logo {
      height: 36px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .logo-text {
        font-family: 'Roboto', sans-serif;
        font-size: 34px;
        font-weight: bolder;
        line-height: 50px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


        .oaple{
            margin-right: 15px;
        }
    }
   
  }
}

div {
  box-sizing: border-box;
}

.nav-container {
  height: 20px;
}
