.header-container{
    height: 150px;
}

.logo-container{
    height: 120px;
}

div{
    box-sizing: border-box;
}

.nav-container{
    height: 20px;
}

.logo{
    height: 36px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}