$theme-colors: (
  'dark':#1E1E1E,
  'gray':#A3A3A3,
  'light-gray':#F1F1F1,
  'dark-gray':#6E6E6E,
  'col1':rgb(206, 206, 252),
  'col2':rgb(255, 214, 255),
  'col3':rgb(255, 255, 243)
);

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";

div{
  padding: 0;
  color: blue;
  margin: 0;
}
