.image-slider{
    width: 100vw;
    height: 100vh;
    background: rgba(80, 80, 80, 0.911);
    top: 0;
    left: 0;
    z-index: 100;
   
}

.cross{
    z-index: 200;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
    border-radius: 2px;
    filter: drop-shadow(2px 2px 0 #c9c9c99d);
    &:active{
        filter: drop-shadow(0 0 0);
    }
}

.slider-img{
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    background-color: rgba(0, 0, 0, 0.74);
}