.image-slider{
    width: 100%;
    height: 100vh;
    background: rgba(238, 238, 238, 0.911);
    top: 0;
    left: 0;
    z-index: 100;
}

.cross{
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
}

.slider-img{
    width: 90%;
    height: 90%;
    object-fit: cover;
}