.project-title-img{
    height: 30vh;
    object-fit: cover;
}

@media (min-width: 576px) {
    .project-title-img{
        height: 50vh;
    }
    
}
@media (min-width: 992px) {
    .project-title-img{
        height: 70vh;
    }
    
}