.contact-map{
    height: 60vh;
}

.contactpage-footer{
    font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
}

@media (min-width:992px) {
    .contact-map{
        height: 40vh;
    }
}

.map-img{
    object-fit: cover;
}

